# Acquiring the dataset

To acquire and extract the data, simply run the following Bash scripts:  
Dataset acquired from [GroupLens](http://grouplens.org/datasets/movielens/). Lets download the dataset. To download the data, we will use **`!wget`** to download it from IBM Object Storage.

In [39]:
!wget -O moviedataset.zip https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/moviedataset.zip
print('unziping ...')
!unzip -o -j moviedataset.zip

--2020-03-01 06:23:58--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/moviedataset.zip
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 160301210 (153M) [application/zip]
Saving to: ‘moviedataset.zip’

moviedataset.zip    100%[===================>] 152.88M  34.8MB/s    in 4.4s

2020-03-01 06:24:03 (35.0 MB/s) - ‘moviedataset.zip’ saved [160301210/160301210]

unziping ...
Archive:  moviedataset.zip
  inflating: links.csv
  inflating: movies.csv
  inflating: ratings.csv
  inflating: README.txt
  inflating: tags.csv

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Preprocessing

In [41]:
movies = pd.read_csv('movies.csv')
movies.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [42]:
movies.shape

(34208, 3)

In [43]:
ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1      169     2.5  1204927694
1       1     2471     3.0  1204927438
2       1    48516     5.0  1204927435
3       2     2571     3.5  1436165433
4       2   109487     4.0  1436165496

In [44]:
ratings.shape

(22884377, 4)

In [45]:
movies.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [46]:
# Separating out the year from the movie title

movies['year'] = movies['title'].str.extract('(\(\d\d\d\d\))',expand=False)
movies['year'] = movies['year'].str.extract('(\d\d\d\d)',expand=False)
movies['title'] = movies['title'].str.replace('(\(\d\d\d\d\))','')
movies['title'] = movies['title'].str.strip()
movies.head()

   movieId  ...  year
0        1  ...  1995
1        2  ...  1995
2        3  ...  1995
3        4  ...  1995
4        5  ...  1995

[5 rows x 4 columns]

In [0]:
# We dont require the genre column for this recommendation system , so we drop it

movies.drop('genres',axis=1,inplace=True)

In [48]:
movies.head()

   movieId                        title  year
0        1                    Toy Story  1995
1        2                      Jumanji  1995
2        3             Grumpier Old Men  1995
3        4            Waiting to Exhale  1995
4        5  Father of the Bride Part II  1995

In [49]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      169     2.5  1204927694
1       1     2471     3.0  1204927438
2       1    48516     5.0  1204927435
3       2     2571     3.5  1436165433
4       2   109487     4.0  1436165496

In [0]:
# We dont need the timestamp column for this recommendation

ratings.drop('timestamp',axis=1,inplace=True)

In [51]:
ratings.head()

   userId  movieId  rating
0       1      169     2.5
1       1     2471     3.0
2       1    48516     5.0
3       2     2571     3.5
4       2   109487     4.0

# Collaborative Filtering

Now, time to start our work on recommendation systems. 

The first technique we're going to take a look at is called __Collaborative Filtering__, which is also known as __User-User Filtering__. As hinted by its alternate name, this technique uses other users to recommend items to the input user. It attempts to find users that have similar preferences and opinions as the input and then recommends items that they have liked to the input. There are several methods of finding similar users (Even some making use of Machine Learning), and the one we will be using here is going to be based on the __Pearson Correlation Function__.


The process for creating a User Based recommendation system is as follows:
- Select a user with the movies the user has watched
- Based on his rating to movies, find the top X neighbours 
- Get the watched movie record of the user for each neighbour.
- Calculate a similarity score using some formula
- Recommend the items with the highest score


Let's begin by creating an input user to recommend movies to:

Notice: To add more movies, simply increase the amount of elements in the userInput. Feel free to add more in! Just be sure to write it in with capital letters and if a movie starts with a "The", like "The Matrix" then write it in like this: 'Matrix, The' .

In [84]:
userInput = [
            {'title':'Breakfast Club, The', 'rating':5},
            {'title':'Toy Story', 'rating':3.5},
            {'title':'Jumanji', 'rating':10},
            {'title':"Pulp Fiction", 'rating':5},
            {'title':'Akira', 'rating':4.5}
         ] 
inputMovies = pd.DataFrame(userInput)
inputMovies

                 title  rating
0  Breakfast Club, The     5.0
1            Toy Story     3.5
2              Jumanji    10.0
3         Pulp Fiction     5.0
4                Akira     4.5

#### Add movieId to input user
With the input complete, let's extract the input movies's ID's from the movies dataframe and add them into it.

We can achieve this by first filtering out the rows that contain the input movies' title and then merging this subset with the input dataframe. We also drop unnecessary columns for the input to save memory space.

In [85]:
#Filtering out the movies by title
inputId = movies[movies['title'].isin(inputMovies['title'].tolist())]

#Then merging it so we can get the movieId. It's implicitly merging it by title.

inputMovies = pd.merge(inputId, inputMovies)

#Dropping information we won't use from the input dataframe
inputMovies = inputMovies.drop('year', 1)

#Final input dataframe
#If a movie you added in above isn't here, then it might not be in the original 
#dataframe or it might spelled differently, please check capitalisation.
inputMovies

   movieId                title  rating
0        1            Toy Story     3.5
1        2              Jumanji    10.0
2      296         Pulp Fiction     5.0
3     1274                Akira     4.5
4     1968  Breakfast Club, The     5.0

In [86]:
# Now we find users who have rated the same movies

userSubset = ratings[ratings['movieId'].isin(inputMovies['movieId'].tolist())]
userSubset.head()

     userId  movieId  rating
19        4      296     4.0
441      12     1968     3.0
479      13        2     2.0
531      13     1274     5.0
681      14      296     2.0

In [0]:
# Now we group the users by their ID

userSubsetGroup = userSubset.groupby(['userId'])

In [88]:
userSubsetGroup.get_group(75)

      userId  movieId  rating
7507      75        1     5.0
7508      75        2     3.5
7540      75      296     5.0
7633      75     1274     4.5
7673      75     1968     5.0

Let's also sort these groups so the users that share the most movies in common with the input have higher priority. This provides a richer recommendation since we won't go through every single user.

In [0]:
#Sorting it so users with movie most in common with the input will have priority
userSubsetGroup = sorted(userSubsetGroup,  key=lambda x: len(x[1]), reverse=True)

In [90]:
# Looking at the first user
userSubsetGroup[:1]

[(75,       userId  movieId  rating
  7507      75        1     5.0
  7508      75        2     3.5
  7540      75      296     5.0
  7633      75     1274     4.5
  7673      75     1968     5.0)]

In [91]:
for name,group in userSubsetGroup[:1]:
  print(name)
  print(group)

75
      userId  movieId  rating
7507      75        1     5.0
7508      75        2     3.5
7540      75      296     5.0
7633      75     1274     4.5
7673      75     1968     5.0

#### Similarity of users to input user
Next, we are going to compare all users (not really all !!!) to our specified user and find the one that is most similar.  
we're going to find out how similar each user is to the input through the __Pearson Correlation Coefficient__. It is used to measure the strength of a linear association between two variables. The formula for finding this coefficient between sets X and Y with N values can be seen in the image below. 

Why Pearson Correlation?

Pearson correlation is invariant to scaling, i.e. multiplying all elements by a nonzero constant or adding any constant to all elements. For example, if you have two vectors X and Y,then, pearson(X, Y) == pearson(X, 2 * Y + 3). This is a pretty important property in recommendation systems because for example two users might rate two series of items totally different in terms of absolute rates, but they would be similar users (i.e. with similar ideas) with similar rates in various scales .

![alt text](https://wikimedia.org/api/rest_v1/media/math/render/svg/bd1ccc2979b0fd1c1aec96e386f686ae874f9ec0 "Pearson Correlation")

The values given by the formula vary from r = -1 to r = 1, where 1 forms a direct correlation between the two entities (it means a perfect positive correlation) and -1 forms a perfect negative correlation. 

In our case, a 1 means that the two users have similar tastes while a -1 means the opposite.

We will select a subset of users to iterate through. This limit is imposed because we don't want to waste too much time going through every single user.

In [0]:
userSubsetGroup = userSubsetGroup[0:100]

In [0]:
from math import sqrt

In [0]:
#Store the Pearson Correlation in a dictionary, where the key is the user Id and the value is the coefficient
pearsonCorrelationDict = {}

#For every user group in our subset
for name, group in userSubsetGroup:
    #Let's start by sorting the input and current user group so the values aren't mixed up later on
    group = group.sort_values(by='movieId')
    inputMovies = inputMovies.sort_values(by='movieId')
    #Get the N for the formula
    nRatings = len(group)
    #Get the review scores for the movies that they both have in common
    temp_df = inputMovies[inputMovies['movieId'].isin(group['movieId'].tolist())]
    #And then store them in a temporary buffer variable in a list format to facilitate future calculations
    tempRatingList = temp_df['rating'].tolist()
    #Let's also put the current user group reviews in a list format
    tempGroupList = group['rating'].tolist()
    #Now let's calculate the pearson correlation between two users, so called, x and y
    Sxx = sum([i**2 for i in tempRatingList]) - pow(sum(tempRatingList),2)/float(nRatings)
    Syy = sum([i**2 for i in tempGroupList]) - pow(sum(tempGroupList),2)/float(nRatings)
    Sxy = sum( i*j for i, j in zip(tempRatingList, tempGroupList)) - sum(tempRatingList)*sum(tempGroupList)/float(nRatings)
    
    #If the denominator is different than zero, then divide, else, 0 correlation.
    if Sxx != 0 and Syy != 0:
        pearsonCorrelationDict[name] = Sxy/sqrt(Sxx*Syy)
    else:
        pearsonCorrelationDict[name] = 0

In [95]:
pearsonCorrelationDict.items()

dict_items([(75, -0.9153018755911889), (106, 0.1060954922423776), (686, -0.6974104408145885), (815, -0.5535523764405995), (1040, -0.7907891092008564), (1130, 0.3780923365017244), (1502, -0.4998919035767297), (1599, -0.13232432741736827), (1625, -0.5041976842459328), (1950, -0.48619062409429337), (2065, -0.13232432741736827), (2128, 0.011788388026930132), (2432, 0.06974104408145886), (2791, -0.9703784010607082), (2839, -0.7190916696427783), (2948, -0.24755614856554617), (3025, 0.10590269634939399), (3040, -0.414162383487733), (3186, -0.3139088821989134), (3271, -0.12487465711891794), (3429, -0.5762259248524957), (3734, -0.19667643607744495), (4099, -0.6306787594407972), (4208, -0.6410867475613833), (4282, 0.1323243274173671), (4292, -0.5342094511653348), (4415, 0.033746763893233), (4586, 0.6354161780963618), (4725, -0.04026501057399582), (4818, -0.606109597977544), (5104, -0.5844324460933807), (5165, 0.3087567639738635), (5547, -0.3287118519194867), (6082, -0.17598308998156764), (6207, -0.7543647313202828), (6366, -0.19848649112605354), (6482, -0.18861420843089288), (6530, 0.5776310133196084), (7235, -0.5049178957894427), (7403, -0.1296722682962378), (7641, -0.5041976842459336), (7996, -0.981384778264408), (8008, 0.007564478310670538), (8086, -0.7671514848960473), (8245, 0.14405648121312353), (8572, -0.5363193373423178), (8675, -0.30612002257788784), (9101, -0.45846653030875734), (9358, -0.7658276677148688), (9663, -0.21461173449427906), (9994, -0.7994084439957868), (10248, -0.1247565723103611), (10315, -0.5942329850041352), (10368, -0.8959174900467379), (10607, 0.20922313224437655), (10707, -0.7543647313202828), (10863, -0.6660740157315884), (11314, -0.341863252780993), (11399, -0.46824378435115194), (11769, -0.6601497295081242), (11827, -0.5424580171673243), (12069, -0.5762259248524957), (12120, -0.4492600718600701), (12211, -0.6747243276242085), (12325, -0.8621363549035674), (12916, -0.8369755499120863), (12921, -0.6250574787860281), (13053, -0.8053002114799165), (13142, -0.7867057443097811), (13260, -0.3945149215762359), (13366, -0.7022753459139794), (13768, -0.970378401060709), (13888, 0.4626097514116704), (13923, -0.011788388026930132), (13934, -0.190306861637596), (14529, -0.948621922844281), (14551, -0.5942329850041378), (14588, -0.2425946002651762), (14984, -0.21608472181968622), (15137, 0.011788388026930132), (15157, -0.9336292598160292), (15466, -0.926095243201904), (15670, -0.847730565476567), (15834, -0.37065943722287786), (16292, -0.9042162373520235), (16456, -0.9363671278853067), (16506, -0.25362162754995954), (17246, -0.40265010573995824), (17438, -0.9369910466586192), (17501, -0.3012638824469362), (17502, -0.6732385696497166), (17666, -0.7779480993625236), (17735, -0.6172647478954799), (17742, -0.5917723823643538), (17757, -0.4032099254134919), (17854, -0.5942329850041378), (17897, -0.970378401060709), (17944, -0.5186320662416828), (18301, -0.23409178197132668), (18509, 0.17288823881315624)])

In [96]:
pearsonDF = pd.DataFrame.from_dict(pearsonCorrelationDict, orient='index')
pearsonDF.columns = ['similarityIndex']
pearsonDF['userId'] = pearsonDF.index
pearsonDF.index = range(len(pearsonDF))
pearsonDF.head()

   similarityIndex  userId
0        -0.915302      75
1         0.106095     106
2        -0.697410     686
3        -0.553552     815
4        -0.790789    1040

#### The top x similar users to input user
Now let's get the top 50 users that are most similar to the input.

In [97]:
topUsers=pearsonDF.sort_values(by='similarityIndex', ascending=False)[0:50]
topUsers.head()

    similarityIndex  userId
27         0.635416    4586
37         0.577631    6530
72         0.462610   13888
5          0.378092    1130
31         0.308757    5165

Now, let's start recommending movies to the input user.

#### Rating of selected users to all movies
We're going to do this by taking the weighted average of the ratings of the movies using the Pearson Correlation as the weight. But to do this, we first need to get the movies watched by the users in our __pearsonDF__ from the ratings dataframe and then store their correlation in a new column called _similarityIndex". This is achieved below by merging of these two tables.

In [98]:
topUsersRating=topUsers.merge(ratings, left_on='userId', right_on='userId', how='inner')
topUsersRating.head()

   similarityIndex  userId  movieId  rating
0         0.635416    4586        1     4.5
1         0.635416    4586        2     5.0
2         0.635416    4586        6     4.5
3         0.635416    4586        7     2.0
4         0.635416    4586       10     4.0

Now all we need to do is simply multiply the movie rating by its weight (The similarity index), then sum up the new ratings and divide it by the sum of the weights.

We can easily do this by simply multiplying two columns, then grouping up the dataframe by movieId and then dividing two columns:

It shows the idea of all similar users to candidate movies for the input user:

In [99]:
#Multiplies the similarity by the user's ratings
topUsersRating['weightedRating'] = topUsersRating['similarityIndex']*topUsersRating['rating']
topUsersRating.head()

   similarityIndex  userId  movieId  rating  weightedRating
0         0.635416    4586        1     4.5        2.859373
1         0.635416    4586        2     5.0        3.177081
2         0.635416    4586        6     4.5        2.859373
3         0.635416    4586        7     2.0        1.270832
4         0.635416    4586       10     4.0        2.541665

In [100]:
#Applies a sum to the topUsers after grouping it up by userId
tempTopUsersRating = topUsersRating.groupby('movieId').sum()[['similarityIndex','weightedRating']]
tempTopUsersRating.columns = ['sum_similarityIndex','sum_weightedRating']
tempTopUsersRating.head()

         sum_similarityIndex  sum_weightedRating
movieId
1                  -6.130323          -24.177306
2                  -6.130323          -16.590960
3                  -2.969217           -8.793035
4                   0.035182           -0.253010
5                  -2.908956           -7.274151

In [101]:
#Creates an empty dataframe
recommendation_df = pd.DataFrame()
#Now we take the weighted average
recommendation_df['weighted average recommendation score'] = tempTopUsersRating['sum_weightedRating']/tempTopUsersRating['sum_similarityIndex']
recommendation_df['movieId'] = tempTopUsersRating.index
recommendation_df.head()

         weighted average recommendation score  movieId
movieId
1                                     3.943888        1
2                                     2.706376        2
3                                     2.961399        3
4                                    -7.191386        4
5                                     2.500605        5

In [102]:
recommendation_df = recommendation_df.sort_values(by='weighted average recommendation score', ascending=False)
recommendation_df.head(10)

         weighted average recommendation score  movieId
movieId
1752                                319.190997     1752
1271                                270.203079     1271
8196                                128.801125     8196
40412                                60.974259    40412
67252                                57.790456    67252
126                                  46.063008      126
27482                                40.934089    27482
3163                                 35.443711     3163
4771                                 33.506722     4771
4783                                 32.567769     4783

In [103]:
movies.loc[movies['movieId'].isin(recommendation_df.head(10)['movieId'].tolist())]

       movieId                                              title  year
124        126                         NeverEnding Story III, The  1994
1243      1271                               Fried Green Tomatoes  1991
1687      1752                                          Hard Rain  1998
3077      3163                                        Topsy-Turvy  1999
4676      4771                                           Hardball  2001
4688      4783  Endurance: Shackleton's Legendary Antarctic Ex...  2000
7694      8196                     Beyond the Valley of the Dolls  1970
9359     27482                                  Cube 2: Hypercube  2002
10578    40412                                   Dead Man's Shoes  2004
13568    67252               Ong-Bak 2: The Beginning (Ong Bak 2)  2008

### Advantages and Disadvantages of Collaborative Filtering

##### Advantages
* Takes other user's ratings into consideration
* Doesn't need to study or extract information from the recommended item
* Adapts to the user's interests which might change over time

##### Disadvantages
* Approximation function can be slow
* There might be a low of amount of users to approximate
* Privacy issues when trying to learn the user's preferences

In [104]:
movies['title'].unique

<bound method Series.unique of 0                          Toy Story
1                            Jumanji
2                   Grumpier Old Men
3                  Waiting to Exhale
4        Father of the Bride Part II
                    ...
34203                     Grand Slam
34204                     Bloodmoney
34205           The Butterfly Circus
34206                           Zero
34207          The 2000 Year Old Man
Name: title, Length: 34208, dtype: object>